<head>
  <title>Website</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
</head>

<body>

  <div class="row">
    <!-- <div class="panel">
        I've been writing freelance <a href= http://madatoms.com/?s=Dan%20Eder>comedy  </a>,
        <a href= http://devastatorpress.com/team/contributor/?pdb=119> comics </a>, and
        <a href= http://www.todayifoundout.com/index.php/2015/01/radio-signals-travel-night-day/>
        features </a> for years.

        Recently I've also begun writing a lot of corporate marketing materials.
        It's a great opportunity to research cool businesses and write in different voices,
        from lawyers to acting coaches. I really enjoy it and hope to get more
        clients soon!

        While most of these are ghostwritten, I swear they're all mine.

    </div> -->
                  <div class="large-6 small-6 columns">
                    <div class="panel">
                      <h3>Tech</h3>
                      <h4> Bedrock Data </h4>
                      <ul><a href= http://www.bedrockdata.com/blog/how-to-integrate-salesforce.com-and-recurly-using-custom-objects> Integrate Salesforce.com and Recurly Using Customer Objects </a></ul>
                      <ul><a href= http://www.bedrockdata.com/blog/how-to-choose-the-best-marketing-automation-software-for-your-business> Choosing the Best Marketing Automation Software for Your Business </a></ul>
                      <ul><a href= http://www.bedrockdata.com/blog/using-eventbrite-integrations-to-promote-your-next-event> Integrating EventBrite to Promote Your Next Event </a></ul>

                    </div>
                  </div>

                  <div class="large-6 small-6 columns">
                    <div class="panel">
                      <h3> Automotive </h3>
                      <h4> All-Fit Automotive </h4>
                      <ul><a href= http://allfitautomotive.com/blog/acura-integra-lip-kit-shop-allfit-automotive/> Acura Integra Lip Kit </a></ul>
                      <ul><a href= http://allfitautomotive.com/blog/mitsubishi-lancer-lip-kit-shop-allfit-automotive/> Mitsubishi Lancer Lip Kit </a></ul>
                      <ul><a href= http://allfitautomotive.com/blog/body-kit-vs-lip-kit-the-best-way-to-enhance-your-car/> Body Kit vs. Lip Kit </a></ul>
                      <ul><a href= http://allfitautomotive.com/all-fit-vs-ez-lip/ > All-Fit vs. EZ Lip </a></ul>
                      <ul><a href= http://allfitautomotive.com/blog/5-affordable-ways-to-deck-out-your-ride/> 5 Affordable Ways to Deck Out Your Ride </a></ul>
                      <ul><a href= <ul><a href= http://allfitautomotive.com/blog/5-affordable-ways-to-deck-out-your-ride/> Top 5 Reasons to Upgrade Your Car Today </a></ul>
                    </div>
                  </div>

                  <div class="large-6 small-6 columns">
                    <div class="panel">
                      <h3> Legal </h3>
                      <h4> Forensis Group, Inc. - Expert Witness Services </h4>
                      <ul><a href= http://www.forensisgroup.com/expert-witness/accident-investigation/> Accident Investigation </a></ul>
                      <ul><a href= http://www.forensisgroup.com/expert-witness/litigation-support-services/> Litigation Support Services </a></ul>
                      <ul><a href= > </a></ul>
                    </div>
                  </div>

                  <div class="large-6 small-6 columns">
                    <div class="panel">
                      <h3> Luxury Services Industry </h3>
                      <h4> Executive Limo </h4>
                      <ul><a href= > A Fan's Guide to Football Season at MetLife Stadium </a></ul>
                      <h4> Signature Limo </h4>
                      <ul><a href= http://nashvillelimo.com/ty-2014-football-season-slidesharecommodores/> A Fan's Guide to Vanderbilt Football Slideshare </a></ul>
                      <h4> Topper Limo </h4>
                      <ul><a href= http://topperlimo.com/20-holiday-travel-tips/> 20 Holiday Travel Tips in the Atlanta Airport </a></ul>
                      <ul><a href= http://topperlimo.com/best-new-years-eve-parties-in-atlanta/> Best New Year's Eve Parties in Atlanta </a></ul>
                      <h4> All Points Transportation </h4>
                      <ul><a href= http://www.allpointscarolina.com/sandhills-and-pinehurst-golf> An Insider's Guide to Golf in North Carolina </a></ul>
                      <h4> A Savannah Nite Limo </h4>
                      <ul><a href= http://www.asavannahnite.com/Christmas-Ranch-Cincinnati/> A Christmas Ranch Cincinatti </a></ul>
                      <ul><a href= http://www.asavannahnite.com/A-Christmas-Carol-cincinnati-playhouse-/> A Christmas Carol at the Cincinatti Playhouse</a></ul>
                      <ul><a href= http://www.asavannahnite.com/The-New-Nutcracker-Cincinnati-Ballet/> The New Nutcracker at the Cincinatti Ballet </a></ul>
                    </div>
                  </div>

                  <div class="large-6 small-6 columns">
                    <div class="panel">
                      <h3>Education</h3>
                      <h4> Education </h4>
                      <h4> The Acting Corps </h4>
                      <ul><a href= http://www.theactingcorps.com/blog/acting-schools-los-angeles-promise-deliver> What Acting Schools in Los Angeles Promise and What We Deliver </a></ul>
                      <ul><a href= http://www.theactingcorps.com/blog/full-time-actor> Acting Like an Actor </a></ul>
                    </div>
                  </div>

                  <div class="large-6 small-6 columns">
                    <div class="panel">
                      <h3>Marketing</h3>
                      <h4> IMA Blog -- Covering Digital Marketing Trends <h4>
                      <ul><a href= http://www.inboundmarketingagents.com/inbound-marketing-agents-blog/bid/364030/Is-Your-Sales-Team-Working-For-You-Or-Against-You> Is Your Sales Force Working for you or Against You? </a></ul>
                      <ul><a href= http://www.inboundmarketingagents.com/inbound-marketing-agents-blog/bid/364183/Why-Your-Website-is-Never-Really-Finished> Why Your Website is Never Really "Finished" </a></ul>

                    </div>
                  </div>

                  <div class="large-6 small-6 columns">
                    <div class="panel">
                      <h3> Luxury Services Industry </h3>
                      <h4> Executive Limo </h4>
                      <ul><a href= > A Fan's Guide to Football Season at MetLife Stadium </a></ul>
                      <h4> Signature Limo </h4>
                      <ul><a href= http://nashvillelimo.com/ty-2014-football-season-slidesharecommodores/> A Fan's Guide to Vanderbilt Football Slideshare </a></ul>
                      <h4> Topper Limo </h4>
                      <ul><a href= http://topperlimo.com/20-holiday-travel-tips/> 20 Holiday Travel Tips in the Atlanta Airport </a></ul>
                      <ul><a href= http://topperlimo.com/best-new-years-eve-parties-in-atlanta/> Best New Year's Eve Parties in Atlanta </a></ul>
                      <h4> All Points Transportation </h4>
                      <ul><a href= http://www.allpointscarolina.com/sandhills-and-pinehurst-golf> An Insider's Guide to Golf in North Carolina </a></ul>
                      <h4> A Savannah Nite Limo </h4>
                      <ul><a href= http://www.asavannahnite.com/Christmas-Ranch-Cincinnati/> A Christmas Ranch Cincinatti </a></ul>
                      <ul><a href= http://www.asavannahnite.com/A-Christmas-Carol-cincinnati-playhouse-/> A Christmas Carol at the Cincinatti Playhouse</a></ul>
                      <ul><a href= http://www.asavannahnite.com/The-New-Nutcracker-Cincinnati-Ballet/> The New Nutcracker at the Cincinatti Ballet </a></ul>
                    </div>
                  </div>

                  <div class="large-6 small-6 columns">
                    <div class="panel">
                      <h3> Financial </h3>
                      <h4> Allied Wallet </h4>
                      <ul> <a href = https://www.alliedwallet.com/blogs/international-payment-processing-made-easy-adding-allied-wallet/> International Payment Processing Made Easy Using Allied Wallet </ul>
                      <ul> <a href = https://www.alliedwallet.com/entrepreneurs/an-introduction-to-payment-gateways-how-they-can-help-your-business/> An Introduction to Payment Gateways </ul>
                      <ul> <a href = https://www.alliedwallet.com/entrepreneurs/payment-processing-companies-our-role-in-helping-your-business/> Payment Processing Companies </ul>
                      <ul> <a href = https://www.alliedwallet.com/entrepreneurs/protect-your-business-with-a-credit-card-payment-gateway/> Protect Your Business with a Credit Card Payment Gateway </ul>
                      <ul> <a href = https://www.alliedwallet.com/entrepreneurs/online-credit-card-processing-companies-ensure-payment-security/> Online Credit Card Processing Companies Ensure Payment Security </ul>
                    </div>
                  </div>

  </div>

<!-- <h2>Coalition Technologies</h2> -->

<!-- <h3> Automotive </h3>
<h4> All-Fit Automotive </h4>
<ul><a href= http://allfitautomotive.com/blog/acura-integra-lip-kit-shop-allfit-automotive/> Acura Integra Lip Kit </a></ul>
<ul><a href= http://allfitautomotive.com/blog/mitsubishi-lancer-lip-kit-shop-allfit-automotive/> Mitsubishi Lancer Lip Kit </a></ul>
<ul><a href= http://allfitautomotive.com/blog/body-kit-vs-lip-kit-the-best-way-to-enhance-your-car/> Body Kit vs. Lip Kit </a></ul>
<ul><a href= http://allfitautomotive.com/all-fit-vs-ez-lip/ > All-Fit vs. EZ Lip </a></ul>
<ul><a href= http://allfitautomotive.com/blog/5-affordable-ways-to-deck-out-your-ride/> 5 Affordable Ways to Deck Out Your Ride </a></ul>
<ul><a href= <ul><a href= http://allfitautomotive.com/blog/5-affordable-ways-to-deck-out-your-ride/> Top 5 Reasons to Upgrade Your Car Today </a></ul> -->


<!-- <h3> Education </h3>
<h4> The Acting Corps </h4>
<ul><a href= http://www.theactingcorps.com/blog/acting-schools-los-angeles-promise-deliver> What Acting Schools in Los Angeles Promise and What We Deliver </a></ul>
<ul><a href= http://www.theactingcorps.com/blog/full-time-actor> Acting Like an Actor </a></ul> -->

<!-- <h3> Financial </h3>
<h4> Allied Wallet </h4>
<ul> <a href = https://www.alliedwallet.com/blogs/international-payment-processing-made-easy-adding-allied-wallet/> International Payment Processing Made Easy Using Allied Wallet </ul>
<ul> <a href = https://www.alliedwallet.com/entrepreneurs/an-introduction-to-payment-gateways-how-they-can-help-your-business/> An Introduction to Payment Gateways </ul>
<ul> <a href = https://www.alliedwallet.com/entrepreneurs/payment-processing-companies-our-role-in-helping-your-business/> Payment Processing Companies </ul>
<ul> <a href = https://www.alliedwallet.com/entrepreneurs/protect-your-business-with-a-credit-card-payment-gateway/> Protect Your Business with a Credit Card Payment Gateway </ul>
<ul> <a href = https://www.alliedwallet.com/entrepreneurs/online-credit-card-processing-companies-ensure-payment-security/> Online Credit Card Processing Companies Ensure Payment Security </ul> -->

<!-- <h2> Inbound Marketing Agency </h2> -->

<!-- <h3> IMA Blog -- Covering Digital Marketing Trends <h3>
<ul><a href= http://www.inboundmarketingagents.com/inbound-marketing-agents-blog/bid/364030/Is-Your-Sales-Team-Working-For-You-Or-Against-You> Is Your Sales Force Working for you or Against You? </a></ul>
<ul><a href= http://www.inboundmarketingagents.com/inbound-marketing-agents-blog/bid/364183/Why-Your-Website-is-Never-Really-Finished> Why Your Website is Never Really "Finished" </a></ul> -->

<!-- <h3> Luxury Services Industry </h3>
<h4> Executive Limo </h4>
<ul><a href= > A Fan's Guide to Football Season at MetLife Stadium </a></ul>
<h4> Signature Limo </h4>
<ul><a href= http://nashvillelimo.com/ty-2014-football-season-slidesharecommodores/> A Fan's Guide to Vanderbilt Football Slideshare </a></ul>
<h4> Topper Limo </h4>
<ul><a href= http://topperlimo.com/20-holiday-travel-tips/> 20 Holiday Travel Tips in the Atlanta Airport </a></ul>
<ul><a href= http://topperlimo.com/best-new-years-eve-parties-in-atlanta/> Best New Year's Eve Parties in Atlanta </a></ul>
<h4> All Points Transportation </h4>
<ul><a href= http://www.allpointscarolina.com/sandhills-and-pinehurst-golf> An Insider's Guide to Golf in North Carolina </a></ul>
<h4> A Savannah Nite Limo </h4>
<ul><a href= http://www.asavannahnite.com/Christmas-Ranch-Cincinnati/> A Christmas Ranch Cincinatti </a></ul>
<ul><a href= http://www.asavannahnite.com/A-Christmas-Carol-cincinnati-playhouse-/> A Christmas Carol at the Cincinatti Playhouse</a></ul>
<ul><a href= http://www.asavannahnite.com/The-New-Nutcracker-Cincinnati-Ballet/> The New Nutcracker at the Cincinatti Ballet </a></ul> -->

<!-- <h3> Legal </h3>
<h4> Forensis Group, Inc. - Expert Witness Services </h4>
<ul><a href= http://www.forensisgroup.com/expert-witness/accident-investigation/> Accident Investigation </a></ul>
<ul><a href= http://www.forensisgroup.com/expert-witness/litigation-support-services/> Litigation Support Services </a></ul>
<ul><a href= > </a></ul> -->

<!-- <h3> Tech </h3>
<h4> Bedrock Data </h4>
<ul><a href= http://www.bedrockdata.com/blog/how-to-integrate-salesforce.com-and-recurly-using-custom-objects> Integrate Salesforce.com and Recurly Using Customer Objects </a></ul>
<ul><a href= http://www.bedrockdata.com/blog/how-to-choose-the-best-marketing-automation-software-for-your-business> Choosing the Best Marketing Automation Software for Your Business </a></ul>
<ul><a href= http://www.bedrockdata.com/blog/using-eventbrite-integrations-to-promote-your-next-event> Integrating EventBrite to Promote Your Next Event </a></ul> -->

</body>
