<head>
  <title>Website</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
</head>

<body>
<h1>  Writing </h1>
<p>
  I've been writing freelance <a href= www.website.com>marketing articles </a>,
  <a href= www.website.com> blogs </a>, and <a href= www.website.com> other web
  content </a> for a number of years for a few different marketing firms. I do
  the work mostly from home, in my pajamas, which is great.
</p>

<p>
  So what does a freelance copywriter do? Basically, I get to research and learn
  about all sorts of different industries and jobs, and then write about them.
  Plus I get to write stuff from different perspectives and use different
  voices, which, as a former actor, I also kind of get a kick out of.
</p>

<p>
  Below are a few of my clips. While most of these pieces are ghostwritten and my
  name doesn't appear anywhere in the copy, I swear they're all mine!
  <ul><a href= www.website.com> link </a></ul>
  <ul><a href= www.website.com> link </a></ul>
  <ul><a href= www.website.com> link </a></ul>
</p>
</body>
<ul>
