<head>
  <title>Website</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
</head>

<p>

  A little bit about my writing here.
</p>
