<head>
  <title>Website</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">

</head>
<p>
  It may seem like I have a full life with plenty of hobbies and activities to
  keep me busy, but really none of those compares to my two dogs (except of course
  my wife -- hi honey -- and my baby!). But still -- my dogs take up probably 90% of my free
  time.

  <div class=container1>
  <p>

  <img src="http://i.imgur.com/4w6m5YN.jpg" title="source: imgur.com" />
  <img src="http://i.imgur.com/XM9XKbX.jpg?1" title="source: imgur.com" />

  <img src="http://i.imgur.com/k137GsC.jpg" title="source: imgur.com" />

  <img src="http://i.imgur.com/95nJupi.jpg" title="source: imgur.com" />


  </p>
  </div<
