<head>
  <title>Website</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">

</head>

<body>
  <img src="http://i.imgur.com/95nJupi.jpg" title="source: imgur.com" />
  <h5>
    Molly - aka "Red"
  </h5>

  <img src="http://i.imgur.com/4w6m5YN.jpg" title="source: imgur.com" />
  <h5>
    Ally
  </h5>
  <div class=container1>

    <p>

  <!-- <img src="http://i.imgur.com/4w6m5YN.jpg" title="source: imgur.com" /> -->
    <!-- My wife and I met Ally (the black dog) and Molly (or "Red", as we affectionately
    call her) one day after we were working out at the gym. The owner's friend,
    who runs a dog rescue service from her home, brought them in with
    pink bandanas around their necks saying "adopt me". We had just finished
    working out, were exhausted  and depleted, and there they were, leaping
    up and licking is on the face as we sat down to rest.

    I'll never forget my first thought at that moment:
    'Oh crap, we're going to get these dogs...'

     They have since become an amazing part of our lives. They're loyal, obedient
     and incredibly friendly with people and each other. At the same time, I
     would caution people who are about to get two dogs:  they can definitely be
     a handful!

     I guess what I'm trying to say is: if either of these dogs
     appeals to you... make me an offer!"</p> -->
  <!-- <img src="http://i.imgur.com/XM9XKbX.jpg?1" title="source: imgur.com" /> -->
  </p>
</div>
</body>
