<head>
  <title>Website</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">

</head>
  <div class=container1>

    <p>
    It may seem like I have a full life with plenty of family, friends and activities to
    keep me busy, but really none of those compares to my two dogs (If you're a pet owner,
    you probably get what I mean).

  <!-- <img src="http://i.imgur.com/4w6m5YN.jpg" title="source: imgur.com" /> -->
    My wife and I met Ally (the black dog) and Molly (or "Red", as we affectionately
    call her) one day after we were working out at the gym. The owner's friend,
    who runs an active dog rescue service from her home, brought them in with
    pink bandanas around their necks saying "adopt me". I'll never forget the first
    time we saw them, there was one thing going through my mind: 'Oh crap, we're
    going to get these dogs...'

     They have since become an amazing part of our lives. They're loyal, obedient
     and incredibly friendly with people and each other. At the same time, I would caution
      people who are about to get two dogs:  they can definitely be a handful!

     I guess what I'm trying to say is: if either of these dogs
     appeals to you... make me an offer!"</p>
  <!-- <img src="http://i.imgur.com/XM9XKbX.jpg?1" title="source: imgur.com" /> -->


  </p>
  </div<
