<head>
  <title>Dan Eder</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/atatfoundation.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">

</head>

<body>


    <div class="row">
      <div class="large-12 columns">

      <a href=http://i.imgur.com/OnMZy9k.jpg><img src=http://i.imgur.com/OnMZy9k.jpg title="source: imgur.com" /></a>

      </div>
    </div>
    <div class="row">

      <div class="large-8 columns">
        <h4>Welcome to my website!</h4>
        <p> I'm a full-stack marketer/blogger/content creator who just recently
        dipped a toe into the world of web development.
        I'm also a Masters Candidate at Harvard's Graduate School of Education
        and am interested in working the edTech space after graduation.</p>
        <p></p>
        <p>
        This site is designed to collect my various projects in one place.
        Please have a look around and drop me a line to say hi!</p>

        <p>- Dan</p>
      </div>

      <div class="large-4 columns">

      </div>

    </div>

    </div>




    <footer class="row">
      <div class="large-12 columns">
        <hr/>
        <div class="row">
          <div class="large-6 columns">
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <!-- <p> daneder@gmail.com </p> -->
            </ul>
          </div>
        </div>
      </div>
    </footer>

</body>
