<head>
  <title>Dan Eder</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">

</head>

<body>

  <h1> <b> Welcome </h1> <b>

  <p>
   Welcome to my new website, created using Ruby on Rails deployed to Heroku!

   And, for non-technical people: Welcome to my new website!

   Currently I'm a Masters candidate in the Graduate School of Education at
   Harvard University where I'll be studying Technology, Innovation and Education,
   but I have had a lot of different interests over the years.

   Since the program is a one year Masters, a lot of people have already begun
   to ask what I intend to do professionally once I'm done. At this point I
   really have no idea!

   I do, however, intend to be blogginy my entire experience at Harvard and
   hope that you check in every once in a while, especially if you're interested
   in this very exciting and compelling program.

   And please have a look around at the rest of the site and drop me a line
   to say hi once you do!

   - Dan

</body>
