<head>
  <title>Website</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">

</head>
<p>
  I majored in journalism in college because 1) I liked to write and 2) I was
  interested in so many different types of things, I could never pin down one
  particular pursuit.

  By majoring in journalism, I was able to dive into the world of extreme/ultra
  sports (I did a story on a stair-race up the Hancock Center in Chicago), education
  reform (I interned at Catalyst Magazine, an educational trade publication) and
  lots of other interesting things.

  I've always felt it's important to have a life full of diverse experiences.
  And through my hobbies I;m always seeking to expand on those experiences.

  I'm one of those people who is always interested in learning new things.
  If you caught up with me this time two years ago, I was probably immersed in
  learning Russian using my I-Phone and software from the L.A. public library.
  This time last year I was all about canoing for some reason, and dying

  My favorite activities are focused around fitness, education and the arts.
  Right now I'd consider my top hobbies: playing the piano, foreign languages
  (Ich kann Deutsch, et aussi français y español también) and I've also recently
  gotten into cycling.

  I would also consider programming a hobby, until I get a job doing it professionally.
</p>
