<head>
  <title>Dan Eder</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">

</head>

<body>
<h1>
  Hobbies
</h1>
<div class=container1>


</div>
<div class=container2>

<p>
  I'm someone who is constantly interested in a bunch of different things.
  I might be learning how to cross country ski, or reading a book on the impact
  of noire film on Cold War politics.
</p>

<p>

  Right now I'd consider my top hobbies: playing the piano, foreign languages
  (Ich kann Deutsch, et aussi français y español también) and I've also recently
  gotten into cycling.

  I would also consider programming a hobby, until I get a job doing it professionally.
</p>
</div>
</body>
