<head>
  <title>Website</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">

</head>

<div class=container1>
<p>
 <img src="http://i.imgur.com/OnMZy9k.jpg" title="source: imgur.com" />
</p>
</div>
