/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 div.container1 {
   /*position: relative;*/
   text-align: right;
 }

 div.container1 p {
   /*width: 600px;
   height: 200px;*/
   padding: 0px;

   position: absolute;
   top: 50%;
   left: 50%;

   margin: 70px 0 0 -170px;
 }

  div.row.large {
    opacity: 0.4;
    color: blue;
  }

  h4, p {
    color: white;
    font-weight: bold;
    font-size: 14;
    font-family: courier new;
  }
